{
  "parser": "babel-eslint",
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "extends": ["airbnb", "plugin:prettier/recommended", "plugin:react/recommended"],
  "rules": {
    "jsx-a11y/interactive-supports-focus": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "prettier/prettier": ["error", { "singleQuote": true }],
    "react/no-multi-comp": 0,
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/anchor-has-content": 0,
    "jsx-a11y/anchor-is-valid": [
      {
        "components": ["Link"]
      }
    ],
    "import/extensions": 0,
    "object-curly-spacing": ["off"],
    "padded-blocks": ["off"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": ["off"],
    "quotes": ["error", "single"],
    "no-underscore-dangle": 0,
    "import/no-unresolved": ["error", {
        "ignore": [
          "config",
          "components/",
          "assets/",
          "containers/",
          "constants/",
          "stores/",
          "actions/",
          "sources/",
          "styles/",
          "utils/",
          "reducers/"
        ]
    }]
  }
}
