.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.count {
  font-size: 8rem;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
}
.counterButton {
  &:not(first-child) {
    margin-top: 1rem;
  }
}