@import "animations";

.applicationMain {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.image {
  width: 20rem;
  height: 20rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}